# World ID
NEXT_PUBLIC_APP_ID=app_xxx
WLD_RP_ID=rp_xxx
WLD_SIGNING_KEY=xxx

# ENS (Sepolia)
ENS_PARENT_NAME=raidbattle.eth
ENS_OWNER_PRIVATE_KEY=xxx
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY

# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=generate-with-openssl-rand-base64-32

# Optional
WLD_CLIENT_ID=app_xxx
WLD_CLIENT_SECRET=xxx
